<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loader Mancuerna</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #27243a;">
    <div class="loader">
        <div class="barbell">
            <div class="weight"></div>
            <div class="weight heavy"></div>
            <div class="bar"></div>
            <div class="weight heavy"></div>
            <div class="weight"></div>
        </div>
    </div>
</body>
</html>
