@mixin btn($width, $height, $background, $border, $radius) {    
    display: inline-block;
    width: $width;
    height: $height;
    border: $border;
    border-radius: $radius;
    background: $background;
    transition: all .5s;

    span {  
        font-size: 18px;
        font-weight: 600;
        color: #27243a;
    }
}

.btn_lg {   
    @include btn(340px, 50px, #d7db4d, none, 5px);
}

.btn_md {   
    @include btn(240px, 50px, #d7db4d, none, 5px);
}

.btn_lg:hover, .btn_lg:active,
.btn_md:hover, .btn_md:active {
    background-color: #fff;

    span {  
        color: #d7db4d;
    }
}

.interface_primary_button { 
    @include btn(360px, 65px, transparent, 2px solid #d7db4d, 10px);
    position: relative;
    overflow: hidden;

    article:has(> div) { 
        padding-left: 105px;
    }
    article i { 
        display: flex;
        align-items: center;
        position: absolute;
        right: 20px;

        svg {   
            width: 25px;
        }
    }
    article div {   
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        height: 100%;
        width: 80px;
        background-color: #d7db4d;

        p { 
            font-weight: 800;
            color: #27243a;
        }
    }
    
    article {   
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 10px 15px;
        gap: 15px;

        svg {   
            width: 35px;
            height: 35px;

            path {  
                fill: #d7db4d;
            }
        }

        p { 
            font-size: 18px;
            color: #fff;
        }
    }
}

.interface_secundary_button { 
    @include btn(165px, 100px, transparent, 2px solid #d7db4d, 10px);
    padding: 10px 20px; 

    h3 {    
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
    }

    p { 
        font-size: 14px;
        color: #d7db4d;
    }
    
}